/*This is my custom CSS*/
@font-face {
    font-family: "Sans Forgetica";
    src: url(SansForgetica-Regular.otf);
}

* {
    overflow: hidden !important;
}

/* Particles JS */
#particles-js canvas {
    position: absolute;
    height: 100vh;
}
